<h3>National Parks Around Your Area</h3>

<div id="map"></div>
<script>

function initMap() {

  var denver = {lat: 37, lng: -105};
  var rmnp = {lat: <%= @parks.first.latitude %>, lng: <%= @parks.first.longitude %>}
  var parks = [denver]
  <% @parks.each do |park| %>
    parks.push({position: {lat: <%= park.latitude %>, lng: <%= park.longitude %>}, info: '<%= link_to park.full_name, park_path(park) %>'})
  <% end %>

  var map = new google.maps.Map(
    document.getElementById('map'), {zoom: 5, center: denver});

  var contentString = 'Testing';

  parks.forEach(park => {
    var marker = new google.maps.Marker({position: park.position, map: map});
    var infoWindow = new google.maps.InfoWindow({content: park.info});
    marker.addListener('click', function() {
      infoWindow.open(map, marker);
    });
  });

  }
  </script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?<%= ENV['GOOG_GEO_KEY'] %>&callback=initMap">
</script>
