<h3>National Parks Around Your Area</h3>

<div id="map"></div>
<script>
  function initMap() {
    // Add the current location
    var yourLocation = {
      position: {
        lat: <%= @current_location[:lat] %> ,
        lng: <%= @current_location[:long] %>
      },
      info: 'Your Location'};

    // Create an array of the found parks with their position and information for the info window
    var parks = []
    <% @parks.each do |park| %>
      parks.push({position: {lat: <%= park.latitude %>, lng: <%= park.longitude %>}, info: '<%= link_to park.full_name, park_path(park) %>'})
    <% end %>

    // Set the perspective of the map along with what location should the map be centered at
    var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 8, center: yourLocation.position});

    // Pin the market and create and info window for the current location
    var marker = new google.maps.Marker({
      position: yourLocation.position,
      map: map,
      icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
    });
    var infoWindow = new google.maps.InfoWindow({
      content: yourLocation.info
    });
    marker.addListener('click', function() {
      infoWindow.open(map, marker);
    });

    // Pin the markers and the info windows for each of the found parks
    parks.forEach(park => {
      var marker = new google.maps.Marker({
        position: park.position,
        map: map
      });
      var infoWindow = new google.maps.InfoWindow({
        content: park.info
      });
      marker.addListener('click', function() {
        infoWindow.open(map, marker);
      });
    });
  }
  </script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?libraries=places&key=<%= ENV['GOOG_GEO_KEY'] %>&callback=initMap">
</script>
