<h4>Your Current Location: <%= "#{params[:street]}, #{params[:city]}, #{params[:state]}" %> </h4>

<button class="btn btn-primary" ><%= link_to "Map View", "#", id: "mapView" %></button>
<button class="btn btn-primary" ><%= link_to "List View", "#", id: "listView" %></button>

<div id='gmap'><%= render 'map' %></div>
<div id='list'><%= render 'list' %></div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
  $(document).on("click","#mapView",function(){
    $("#gmap").show();
    $("#list").hide();
  });

  $(document).on("click","#listView",function(){
    $("#list").show();
    $("#gmap").hide();
  });
</script>
