
<h4>Your Current Location: <%= "#{params[:street]}, #{params[:city]}, #{params[:state]}" %> </h4>
<%= link_to "Map", '/parks?tab=map' %>
<%= link_to "List", '/parks?tab=list' %>
<% if params['tab'] == 'map' %>
  <%= render 'map' %>
<% elsif params['tab'] == 'list' %>
  <%= render 'list' %>
<% end %>
