<%= stylesheet_link_tag 'searchpark', media: 'all' %>
<p class="previous-icon" title="Return to Previous Page"><%= link_to image_tag("goBack.png", height: 35, width: 125), :back %></p>
<div id='park-index-title'><h4><%= @park.full_name %>, <%= @park.state %></h4></div>
<div id='parks-index-subtitle'><h4>Position: <%= @park.latitude %>, <%= @park.longitude %></h4></div>
<div id='parks-description'><h4 class='desc-text'><%= @park.description %></h4></div>
<div class='park-hr'><hr/></div>
<section class="flickr_images">
  <% @photos.each do |photo| %>
    <article>
      <img class="flickr-images" src="<%= photo.url %>" alt="<%= photo.title %>"/>
    </article>
  <% end %>
</section>
