
  <h2>Enter a Location...</h2>
  <%= form_tag :parks, method: :get, :class => 'form-inline' do %>
      <%= text_field_tag 'street', nil, placeholder: 'Street', class: "input address" %>
      <%= text_field_tag 'city', nil, placeholder: 'City', class: "input address" %>
      <%= text_field_tag 'state', nil, placeholder: 'State', class: "input address" %>
      <%= text_field_tag 'radius', nil, placeholder: 'Radius (miles)', class: "input address" %>
      <%= submit_tag "Submit", class: 'btn btn-default btn-md btn-submit' %>
  <% end %>
