<!DOCTYPE html>
<html>
  <head>
    <title>Trippin</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    </header>
    <div class='navbar'>
      <a><%= image_tag 'ideabox1.png', :class => "main-logo"%></a>
      <section class='admin'>
        <%= image_tag 'person-1.png', :class => "admin-logo" %>
        <%= link_to 'Sign in with Google', '#', :class => "admin-logo-text" %>
      </section>
    </div>
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
    <% end %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
